# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
venv/
.venv/
env/

# Django
*.log
local_settings.py
media/
staticfiles/

# Environment files
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage / test cache
.pytest_cache/
.coverage
htmlcov/
